.postits-container {
  display: flex;
  flex-wrap: wrap;
}
.postits-container > * {
  margin: 10px;
}


.PostIt {
  position: relative;
  height: 100px;
  width: 100px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.PostIt::before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  background-color: #fff;
  bottom: 0;
  right: 0;
  border: 10px solid black;
  border-bottom-color: transparent;
  border-right-color: transparent;
}